<p style="color: green"><%= notice %></p>

<%= render @micropost_detail %>

<div>
  <%= link_to "Edit this micropost detail", edit_micropost_detail_path(@micropost_detail) %> |
  <%= link_to "Back to micropost details", micropost_details_path %>

  <%= button_to "Destroy this micropost detail", @micropost_detail, method: :delete %>
</div>
